<style>
    nav {
        width: 100wh;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    }


    ul {
        
        list-style-type: none;
        padding: 10px; 
    }
    .ul > li {
        margin-bottom: 15px;
        border-bottom: 1px solid crimson;
    }

    .site-title{
        padding:0px;
        margin: 0px;;
    }
    .menu-sd {
        display: none;
    }
    .menu-sd-active {
        display: none;
        flex-direction: column;
        justify-content: center;
        /* align-items: flex-end; */
        position: absolute;
        top: 13%;
        left:50%;
        right:20px;
        width: 95%;
        background-color:whitesmoke;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
        z-index: 1000;
}
.menu-sd-hamburger{
    display: none;
    
}
    @media all and (max-width:600px){
        .site-title {
        font-size: 14px;
    }
        .menu{
            display: none;
        }
        .ul > li {
            margin-bottom: 15px;
            
        }

        .menu-sd-active{
            display: flex;
        }

    .menu-sd-hamburger{
        display: block;
        bottom: 50%;
    }

}
</style>


<nav>
    <div class='site-title'>
        <a href='/'>
            <h1 style="display: inline;" class="'title">Blog</h1>
        </a>


        <p>Learn by sharing</p>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/">Blogs</a></li>
            <li class="float"><a href="/blogs/create">New Blog</a></li>
            <li><a href="/about">About</a></li>

            <% if (user){ %>
                <li>Welcome, <%= user.email %></li>
                <li><a class="logt" href="/logout">Log out</a></li>
            <% } else { %>
                <li><a class="log" href="/login">Log in</a></li>
                <li><a class="btn" href="/signup">Sign up</a></li>
            <% } %>
        </ul>
    </div>
    <div class="menu-sd-hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
</nav>
<div class="menu-sd">
    <div>
        <ul class="ul">
            <li><a href="/">Blogs</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
            <li><a href="/about">About</a></li>

            <% if (user){ %>
                <li>Welcome, <%= user.email %>
                </li>
                <li><a class="logt" href="/logout">Log out</a></li>
                <% } else { %>
                    <li><a class="log" href="/login">Log in</a></li>
                    <li><a class="btn" href="/signup">Sign up</a></li>
                    <% } %>
        </ul>
    </div>
</div>

<script>
    let menu_sd_visible = false
    const ham = document.querySelector(".menu-sd-hamburger");
    const menu_sd = document.querySelector(".menu-sd");
    ham.addEventListener("click",(e)=>{
        menu_sd_visible = !menu_sd_visible
        console.log(menu_sd_visible)
        menu_sd_visible ? menu_sd.classList.add("menu-sd-active") : menu_sd.classList.remove("menu-sd-active")
        menu_sd_visible ? ham.firstChild.classList.value = "fa fa-times" : ham.firstChild.classList.value = "fa fa-bars"
    })

    
</script>