@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); /*for delete icon*/
body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
  max-width: 1200px;
  background: #fafafa;
}
p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  margin-left: 20px;
}
nav h1 {
  font-size: 3em;
}
nav p,
nav a {
  color: #777;
  font-weight: 300;
}
footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2 {
  margin-bottom: 40px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content {
  margin-left: 20px;
}

/* index styles */
/* index styles */
.blogs a {
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid crimson;
}
.blogs a:hover h3 {
  color: crimson;
}

/* details styles */

.details {
  position: relative;
}
.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 1px 2px 3px rgba(19, 1, 1, 0.2);
}
.delete:hover {
  cursor: pointer;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: red;
  color: white;
}

/* create styles */
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
  display: block;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
.create-blog label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}
.create-blog button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 4px;
}

/* formss */
form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

.sign input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
.sign label {
  display: block;
  margin: 20px 0 10px;
}

.sign button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 4px;
}

.sign .error {
  color: red;
  font-size: 0.8em;
  /* box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.1); */
}
