<!DOCTYPE html>

<html>
    <!---include head here--->
    <%- include('./partials/head.ejs') %>
    <body>
        <!-- add nav.ejs -->
        <%- include('./partials/nav.ejs')%>

        <div class='about content'>
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia vel harum quae iure nisi, exercitationem ab perspiciatis eum sapiente esse, impedit ex porro vero? Aut rerum possimus dicta laudantium.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, repellendus aliquam, a cupiditate unde porro quo neque iusto reiciendis, rerum recusandae. Sint voluptatum omnis nesciunt harum tempore, ex iste officiis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iusto impedit vitae, quia deleniti eius aperiam. Quibusdam cupiditate sint sapiente pariatur enim explicabo totam dolorum. Sint maxime minus sapiente dolore.</p>
        </div>
        
        
        
    </body>
</html>