<!DOCTYPE html>

<html>
    <!---include head here--->
    <%- include('./partials/head.ejs') %>
    <body>
        <!-- add nav.ejs -->
        <%- include('./partials/nav.ejs')%>

        <div class='about content'>
            <h2>About Blog</h2>
            <ul>
                <li>The Blog created using expressJs framework using MVC pattern.</li>
                <li>DataBase and ORM : MongoDb and mangoose</li>
                <li>Template engine : ejs</li>
            </ul>
        </div>
        
        
        
    </body>
</html>