<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href=""> -->
    </head>
    <body>
        <nav>
            <div class='site-title'>
                <a href='/'><h1>Blog Finance</h1></a>
                <p>Finance made easy</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

        <div class="create-blog content">
            <form>
              <label for="title">Blog title:</label>
              <input type="text" id="title" name="title" required>
              <label for="snippet">Blog snippet:</label>
              <input type="text" id="snippet" name="snippet" required>
              <label for="body">Blog body:</label>
              <textarea id="body" name="body" required></textarea>
              <button>Submit</button>
            </form>
          </div>
        
        
        
    </body>
</html>