<!DOCTYPE html>

<html>
    <!---include head here--->
    <%- include('./partials/head.ejs') %>
    <body>
        <!-- add nav.ejs -->
        <%- include('./partials/nav.ejs')%>
        <div class='about content'>
            <h2>All Blogs</h2>
        </div>
        
        
        
    </body>
</html>